@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #202020;
  font-family: lato, serif;
  padding-top: 50px;
  border: #eee 12px solid;
}

.white-box {
  background-color: #eee;
  width: 600px;
  height: 300px;
  margin-top: 80px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pink-small-box {
  background-color: #ff00a5;
  width: 500px;
  height: 85px;
  color: #000;
  position: absolute;
  top: -20px;
  left: 50%;
  font-family: "lato" sans-serif;
  transform: translateX(-50%);
  border-radius: 5px;
  text-align: center;
}
h1 {
  font-weight: 900;
  font-size: 40px;
  margin-top: 10px;
}

.words {
  padding: 80px 40px;
  color: #000;
  font-size: 25px;
  font-weight: bold;
}
.words p {
  font-family: lato, sans-serif;
  line-height: 1.5;
}
